ShareBrokerClient/src/META-INF/wsdl/localhost_9090/SharesBroker/SharesBroker.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://SBWS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://SBWS/" name="SharesBroker">
<types>
<xsd:schema>
<xsd:import namespace="http://xml.netbeans.org/schema/Shares" schemaLocation="http://localhost:9090/SharesBroker/SharesBroker?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://SBWS/" schemaLocation="http://localhost:9090/SharesBroker/SharesBroker?xsd=2"/>
</xsd:schema>
</types>
<message name="register">
<part name="parameters" element="tns:register"/>
</message>
<message name="registerResponse">
<part name="parameters" element="tns:registerResponse"/>
</message>
<message name="currencyNames">
<part name="parameters" element="tns:currencyNames"/>
</message>
<message name="currencyNamesResponse">
<part name="parameters" element="tns:currencyNamesResponse"/>
</message>
<message name="getList">
<part name="parameters" element="tns:getList"/>
</message>
<message name="getListResponse">
<part name="parameters" element="tns:getListResponse"/>
</message>
<message name="APICodes">
<part name="parameters" element="tns:APICodes"/>
</message>
<message name="APICodesResponse">
<part name="parameters" element="tns:APICodesResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="APIRate">
<part name="parameters" element="tns:APIRate"/>
</message>
<message name="APIRateResponse">
<part name="parameters" element="tns:APIRateResponse"/>
</message>
<message name="GetRate">
<part name="parameters" element="tns:GetRate"/>
</message>
<message name="GetRateResponse">
<part name="parameters" element="tns:GetRateResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="sell">
<part name="parameters" element="tns:sell"/>
</message>
<message name="sellResponse">
<part name="parameters" element="tns:sellResponse"/>
</message>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="buy">
<part name="parameters" element="tns:buy"/>
</message>
<message name="buyResponse">
<part name="parameters" element="tns:buyResponse"/>
</message>
<portType name="SharesBroker">
<operation name="register">
<input wsam:Action="http://SBWS/SharesBroker/registerRequest" message="tns:register"/>
<output wsam:Action="http://SBWS/SharesBroker/registerResponse" message="tns:registerResponse"/>
</operation>
<operation name="currencyNames">
<input wsam:Action="http://SBWS/SharesBroker/currencyNamesRequest" message="tns:currencyNames"/>
<output wsam:Action="http://SBWS/SharesBroker/currencyNamesResponse" message="tns:currencyNamesResponse"/>
</operation>
<operation name="getList">
<input wsam:Action="http://SBWS/SharesBroker/getListRequest" message="tns:getList"/>
<output wsam:Action="http://SBWS/SharesBroker/getListResponse" message="tns:getListResponse"/>
</operation>
<operation name="APICodes">
<input wsam:Action="http://SBWS/SharesBroker/APICodesRequest" message="tns:APICodes"/>
<output wsam:Action="http://SBWS/SharesBroker/APICodesResponse" message="tns:APICodesResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://SBWS/SharesBroker/APICodes/Fault/IOException"/>
</operation>
<operation name="APIRate">
<input wsam:Action="http://SBWS/SharesBroker/APIRateRequest" message="tns:APIRate"/>
<output wsam:Action="http://SBWS/SharesBroker/APIRateResponse" message="tns:APIRateResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://SBWS/SharesBroker/APIRate/Fault/IOException"/>
</operation>
<operation name="GetRate">
<input wsam:Action="http://SBWS/SharesBroker/GetRateRequest" message="tns:GetRate"/>
<output wsam:Action="http://SBWS/SharesBroker/GetRateResponse" message="tns:GetRateResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://SBWS/SharesBroker/loginRequest" message="tns:login"/>
<output wsam:Action="http://SBWS/SharesBroker/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="sell">
<input wsam:Action="http://SBWS/SharesBroker/sellRequest" message="tns:sell"/>
<output wsam:Action="http://SBWS/SharesBroker/sellResponse" message="tns:sellResponse"/>
</operation>
<operation name="add">
<input wsam:Action="http://SBWS/SharesBroker/addRequest" message="tns:add"/>
<output wsam:Action="http://SBWS/SharesBroker/addResponse" message="tns:addResponse"/>
</operation>
<operation name="buy">
<input wsam:Action="http://SBWS/SharesBroker/buyRequest" message="tns:buy"/>
<output wsam:Action="http://SBWS/SharesBroker/buyResponse" message="tns:buyResponse"/>
</operation>
</portType>
<binding name="SharesBrokerPortBinding" type="tns:SharesBroker">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="register">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="currencyNames">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="APICodes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="APIRate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="GetRate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sell">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SharesBroker">
<port name="SharesBrokerPort" binding="tns:SharesBrokerPortBinding">
<soap:address location="http://localhost:9090/SharesBroker/SharesBroker"/>
</port>
</service>
</definitions>