ShareBrokerClient/src/META-INF/wsdl/localhost_9090/SharesBroker/SharesBroker.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://xml.netbeans.org/schema/Shares" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://xml.netbeans.org/schema/Shares">

<xs:complexType name="Shares">
<xs:sequence>
<xs:element name="Company_Info" type="tns:Company"/>
<xs:element name="Share_Price" type="tns:Price"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Company">
<xs:sequence>
<xs:element name="Company_Name" type="xs:string"/>
<xs:element name="Company_Symbol" type="xs:string"/>
<xs:element name="Shares_Number" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Price">
<xs:sequence>
<xs:element name="Currency" type="xs:string"/>
<xs:element name="Value" type="xs:double"/>
<xs:element name="Last_Updated" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>